<!-- app/views/creatures/index.html.erb -->
<h1>Creatures</h1>
<% @creatures.each do |creature| %>
  <ul>
    <li><strong>Name:</strong> <%= creature.name %></li>
    <li><strong>Description:</strong> <%= creature.description %></li>
    <li><a href="/creatures/<%= creature.id %>">Show page</a></li>
  </ul>
  <hr>
<% end %>