<!-- app/views/creatures/new.html.erb -->

<%= form_for :creature, url: "/creatures", method: "post" do |f| %>
  <span class="name">Name:</span><%= f.text_field :name %>
  <span class="description">Description:</span><%= f.text_area :description %>
  <%= f.submit "Save Creature" %>
<% end %>