<!-- app/views/creatures/new.html.erb -->
<h1>Create a New Creature</h1>
<%= form_for :creature, url: "/creatures", method: "post" do |f| %>
  <p><span class="name">Name:<br><%= f.text_field :name %></span></p><br>
  <p><span class="description">Description:<br><%= f.text_area :description %></span></p><br>
  <p><span class="submit"><%= f.submit "Save Creature" %></span></p>
<% end %>
<br>
<p><a href="/creatures">Home page</a></p><br>