<!-- app/views/creatures/new.html.erb -->

<%= form_for :creature, url: "/creatures", method: "post" do |f| %>
  <ul>
  	<li><span class="name">Name:<%= f.text_field :name %></span></li>
  	<li><span class="description">Description:<%= f.text_area :description %></span></li>
  	<li><span class="submit"><%= f.submit "Save Creature" %></span></li>
  </ul>
<% end %>