<!-- app/views/creatures/show.html.erb -->
<h1>Creature</h1>	
	<p><strong>Name: </strong><%= @creature.name %></p>
	<p><strong>Description: </strong><%= @creature.description %></p><br>
	<p><a href="/creatures/<%= @creature.id %>/edit">Edit</a></p>
	<p><%= button_to "Delete", @creature, method: :delete %></p><br>
	<p><a href="/creatures">Home page</a></p><br>	
