<!-- app/views/creatures/show.html.erb -->
<div class="container">
	<h3><%= @creature.name %></h3>
		<ul>
			<li><%= @creature.description %></li>
			<li><a href="/creatures/<%= @creature.id %>/edit">Edit</a></li>
			<li><%= button_to "Delete", @creature, method: :delete %></li>
		</ul>
		<ul>
			<li><a href="/creatures">Home page</a></li>
		</ul>	
</div>		